.RectangleButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 7vh;
    width: 14vw;
    font-size: var(--medium-font);
    color: var(--white);
    background-color: transparent;
    border: 1px solid var(--white);
    border-radius: 10px;
    outline: none;
    z-index: 100;
    filter: grayscale(1) contrast(2) drop-shadow(.1em .1em var(--white));
    box-shadow: 0 3px 5px -1px var(--020-black), 0 6px 10px 0 var(--014-black), 0 1px 18px 0 var(--012-black);
    transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 1s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.CircleButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 7vmin;
    width: 7vmin;
    font-size: var(--medium-font);
    color: var(--white);
    background-color: transparent;
    border: 1px solid var(--white);
    border-radius: 50%;
    outline: none;
    z-index: 100;
    filter: grayscale(1) contrast(2) drop-shadow(.1em .1em var(--white));
    box-shadow: 0 3px 5px -1px var(--020-black), 0 6px 10px 0 var(--014-black), 0 1px 18px 0 var(--012-black);
    transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 1s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.RectangleButton:hover:not(:disabled),
.CircleButton:hover:not(:disabled) {
    border: 2px solid var(--white);
    transition: border 0s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.RectangleButton:focus,
.CircleButton:focus {
    outline: none;
}

.RectangleButton:disabled,
.CircleButton:disabled {
    color: var(--050-white);
    border: 1px solid var(--050-white);
    box-shadow: 0 0 0 0 var(--030-black);
    transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 1s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
