.Freezing {
    height: 100%;
    width: 100%;
    background: inherit;
    z-index: 200;
}

@media {
    .Freezing .FullPageFreezing {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background: inherit;
        animation: fullPageFreezing;
        animation-iteration-count: infinite;
        animation-play-state: running;
        z-index: 295;
        opacity: 0;
    }
}

@media {
    .Freezing .LeftHalfPageFreezing {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 50%;
        position: fixed;
        top: 0;
        left: 0;
        background: inherit;
        animation: leftHalfPageFreezing;
        animation-iteration-count: infinite;
        animation-play-state: running;
        z-index: 290;
        opacity: 0;
    }
}

@media {
    .Freezing .RightHalfPageFreezing {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 50%;
        position: fixed;
        top: 0;
        right: 0;
        background: inherit;
        animation: rightHalfPageFreezing;
        animation-iteration-count: infinite;
        animation-play-state: running;
        z-index: 290;
        opacity: 0;
    }
}

@media {
    .Freezing .FirstBlockFreezing {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 20%;
        width: 15%;
        position: fixed;
        top: 20%;
        left: 0;
        background: inherit;
        animation: firstBlockFreezing;
        animation-iteration-count: infinite;
        animation-play-state: running;
        z-index: 285;
        opacity: 0;
    }
}

@media {
    .Freezing .SecondBlockFreezing {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 20%;
        width: 20%;
        position: fixed;
        top: 10%;
        right: 15%;
        background: inherit;
        animation: secondBlockFreezing;
        animation-iteration-count: infinite;
        animation-play-state: running;
        z-index: 285;
        opacity: 0;
    }
}

@media {
    .Freezing .ThirdBlockFreezing {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 30%;
        width: 10%;
        position: fixed;
        left: 10%;
        bottom: 20%;
        background: inherit;
        animation: thirdBlockFreezing;
        animation-iteration-count: infinite;
        animation-play-state: running;
        z-index: 285;
        opacity: 0;
    }
}

@media {
    .Freezing .FourthBlockFreezing {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 10%;
        width: 10%;
        position: fixed;
        left: 20%;
        bottom: 20%;
        background: inherit;
        animation: fourthBlockFreezing;
        animation-iteration-count: infinite;
        animation-play-state: running;
        z-index: 285;
        opacity: 0;
    }
}

@media {
    .Freezing .FirstHorizontalLineFreezing {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 1%;
        width: 100%;
        position: fixed;
        top: 15%;
        background: inherit;
        animation: firstHorizontalLineFreezing;
        animation-iteration-count: infinite;
        animation-play-state: running;
        z-index: 280;
        opacity: 0;
    }
}

@media {
    .Freezing .SecondHorizontalLineFreezing {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 1%;
        width: 100%;
        position: fixed;
        top: 75%;
        background: inherit;
        animation: secondHorizontalLineFreezing;
        animation-iteration-count: infinite;
        animation-play-state: running;
        z-index: 280;
        opacity: 0;
    }
}

@media {
    .Freezing .ThirdHorizontalLineFreezing {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 1%;
        width: 100%;
        position: fixed;
        top: 85%;
        background: inherit;
        animation: thirdHorizontalLineFreezing;
        animation-iteration-count: infinite;
        animation-play-state: running;
        z-index: 280;
        opacity: 0;
    }
}

@media {
    .Freezing .FirstVerticalLineFreezing {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 1%;
        position: fixed;
        left: 75%;
        background: inherit;
        animation: firstVerticalLineFreezing;
        animation-iteration-count: infinite;
        animation-play-state: running;
        z-index: 275;
        opacity: 0;
    }
}

@media {
    .Freezing .SecondVerticalLineFreezing {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 1%;
        position: fixed;
        left: 80%;
        background: inherit;
        animation: secondVerticalLineFreezing;
        animation-iteration-count: infinite;
        animation-play-state: running;
        z-index: 275;
        opacity: 0;
    }
}

@media {
    .Freezing .FirstImageFreezing {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background: inherit;
        animation: firstImageFreezing;
        animation-iteration-count: infinite;
        animation-play-state: running;
        z-index: 270;
        opacity: 0;
    }
}

@keyframes fullPageFreezing {
    88% {
        background: inherit;
        opacity: 0;
        z-index: 200;
        filter: invert(0);
        mix-blend-mode: difference;
    }
    89% {
        background: black;
        opacity: 1;
        z-index: 295;
        filter: invert(1);
        mix-blend-mode: difference;
    }
    90% {
        background: black;
        opacity: 1;
        z-index: 295;
        filter: invert(1);
        mix-blend-mode: difference;
    }
    91% {
        background: inherit;
        opacity: 0;
        z-index: 200;
        filter: invert(0);
        mix-blend-mode: difference;
    }
}

@keyframes leftHalfPageFreezing {
    80% {
        background: inherit;
        opacity: 0;
        z-index: 200;
        filter: invert(0);
        mix-blend-mode: difference;
    }
    81% {
        background: black;
        opacity: 1;
        z-index: 290;
        filter: invert(1);
        mix-blend-mode: difference;
    }
    82% {
        background: inherit;
        opacity: 0;
        z-index: 200;
        filter: invert(0);
        mix-blend-mode: difference;
    }
}

@keyframes rightHalfPageFreezing {
    70% {
        background: inherit;
        opacity: 0;
        z-index: 200;
        filter: invert(0);
        mix-blend-mode: difference;
    }
    71% {
        background: black;
        opacity: 1;
        z-index: 290;
        filter: invert(1);
        mix-blend-mode: difference;
    }
    72% {
        background: inherit;
        opacity: 0;
        z-index: 200;
        filter: invert(0);
        mix-blend-mode: difference;
    }
    83% {
        background: inherit;
        opacity: 0;
        z-index: 200;
        filter: invert(0);
        mix-blend-mode: difference;
    }
    84% {
        background: black;
        opacity: 1;
        z-index: 290;
        filter: invert(1);
        mix-blend-mode: difference;
    }
    85% {
        background: inherit;
        opacity: 0;
        z-index: 200;
        filter: invert(0);
        mix-blend-mode: difference;
    }
}

@keyframes firstBlockFreezing {
    40% {
        background: inherit;
        opacity: 0;
        z-index: 200;
        filter: invert(0);
        mix-blend-mode: difference;
    }
    41% {
        background: black;
        opacity: 1;
        z-index: 285;
        filter: invert(1);
        mix-blend-mode: difference;
    }
    42% {
        background: inherit;
        opacity: 0;
        z-index: 200;
        filter: invert(0);
        mix-blend-mode: difference;
    }
    83% {
        background: inherit;
        opacity: 0;
        z-index: 200;
        filter: invert(0);
        mix-blend-mode: difference;
    }
    84% {
        background: black;
        opacity: 1;
        z-index: 285;
        filter: invert(1);
        mix-blend-mode: difference;
    }
    85% {
        background: black;
        opacity: 1;
        z-index: 285;
        filter: invert(1);
        mix-blend-mode: difference;
    }
    86% {
        background: inherit;
        opacity: 0;
        z-index: 200;
        filter: invert(0);
        mix-blend-mode: difference;
    }
}

@keyframes secondBlockFreezing {
    30% {
        background: inherit;
        opacity: 0;
        z-index: 200;
        filter: invert(0);
        mix-blend-mode: difference;
    }
    31% {
        background: black;
        opacity: 1;
        z-index: 285;
        filter: invert(1);
        mix-blend-mode: difference;
    }
    32% {
        background: inherit;
        opacity: 0;
        z-index: 200;
        filter: invert(0);
        mix-blend-mode: difference;
    }
    50% {
        background: inherit;
        opacity: 0;
        z-index: 200;
        filter: invert(0);
        mix-blend-mode: difference;
    }
    51% {
        background: black;
        opacity: 1;
        z-index: 285;
        filter: invert(1);
        mix-blend-mode: difference;
    }
    52% {
        background: inherit;
        opacity: 0;
        z-index: 200;
        filter: invert(0);
        mix-blend-mode: difference;
    }
    53% {
        background: black;
        opacity: 1;
        z-index: 285;
        filter: invert(1);
        mix-blend-mode: difference;
    }
    54% {
        background: inherit;
        opacity: 0;
        z-index: 200;
        filter: invert(0);
        mix-blend-mode: difference;
    }
    55% {
        background: black;
        opacity: 1;
        z-index: 285;
        filter: invert(1);
        mix-blend-mode: difference;
    }
    56% {
        background: inherit;
        opacity: 0;
        z-index: 200;
        filter: invert(0);
        mix-blend-mode: difference;
    }
}

@keyframes thirdBlockFreezing {
    38% {
        background: inherit;
        opacity: 0;
        z-index: 200;
        filter: invert(0);
        mix-blend-mode: difference;
    }
    39% {
        background: black;
        opacity: 1;
        z-index: 285;
        filter: invert(1);
        mix-blend-mode: difference;
    }
    40% {
        background: inherit;
        opacity: 0;
        z-index: 200;
        filter: invert(0);
        mix-blend-mode: difference;
    }
    46% {
        background: inherit;
        opacity: 0;
        z-index: 200;
        filter: invert(0);
        mix-blend-mode: difference;
    }
    47% {
        background: black;
        opacity: 1;
        z-index: 285;
        filter: invert(1);
        mix-blend-mode: difference;
    }
    48% {
        background: black;
        opacity: 1;
        z-index: 285;
        filter: invert(1);
        mix-blend-mode: difference;
    }
    49% {
        background: inherit;
        opacity: 0;
        z-index: 200;
        filter: invert(0);
        mix-blend-mode: difference;
    }
}

@keyframes fourthBlockFreezing {
    46% {
        background: inherit;
        opacity: 0;
        z-index: 200;
        filter: invert(0);
        mix-blend-mode: difference;
    }
    47% {
        background: black;
        opacity: 1;
        z-index: 285;
        filter: invert(1);
        mix-blend-mode: difference;
    }
    48% {
        background: black;
        opacity: 1;
        z-index: 285;
        filter: invert(1);
        mix-blend-mode: difference;
    }
    49% {
        background: inherit;
        opacity: 0;
        z-index: 200;
        filter: invert(0);
        mix-blend-mode: difference;
    }
    91% {
        background: inherit;
        opacity: 0;
        z-index: 200;
        filter: invert(0);
        mix-blend-mode: difference;
    }
    92% {
        background: black;
        opacity: 1;
        z-index: 285;
        filter: invert(1);
        mix-blend-mode: difference;
    }
    93% {
        background: inherit;
        opacity: 0;
        z-index: 200;
        filter: invert(0);
        mix-blend-mode: difference;
    }
}

@keyframes firstHorizontalLineFreezing {
    20% {
        background: inherit;
        opacity: 0;
        z-index: 200;
        filter: invert(0);
        mix-blend-mode: difference;
    }
    21% {
        background: black;
        opacity: 1;
        z-index: 280;
        filter: invert(1);
        mix-blend-mode: difference;
    }
    22% {
        background: inherit;
        opacity: 0;
        z-index: 200;
        filter: invert(0);
        mix-blend-mode: difference;
    }
    26% {
        background: inherit;
        opacity: 0;
        z-index: 200;
        filter: invert(0);
        mix-blend-mode: difference;
    }
    27% {
        background: black;
        opacity: 1;
        z-index: 280;
        filter: invert(1);
        mix-blend-mode: difference;
    }
    28% {
        background: inherit;
        opacity: 0;
        z-index: 200;
        filter: invert(0);
        mix-blend-mode: difference;
    }
    29% {
        background: black;
        opacity: 1;
        z-index: 280;
        filter: invert(1);
        mix-blend-mode: difference;
    }
    30% {
        background: inherit;
        opacity: 0;
        z-index: 200;
        filter: invert(0);
        mix-blend-mode: difference;
    }
    90% {
        background: inherit;
        opacity: 0;
        z-index: 200;
        filter: invert(0);
        mix-blend-mode: difference;
    }
    91% {
        background: black;
        opacity: 1;
        z-index: 280;
        filter: invert(1);
        mix-blend-mode: difference;
    }
    92% {
        background: inherit;
        opacity: 0;
        z-index: 200;
        filter: invert(0);
        mix-blend-mode: difference;
    }
}

@keyframes secondHorizontalLineFreezing {
    28% {
        background: inherit;
        opacity: 0;
        z-index: 200;
        filter: invert(0);
        mix-blend-mode: difference;
    }
    29% {
        background: black;
        opacity: 1;
        z-index: 280;
        filter: invert(1);
        mix-blend-mode: difference;
    }
    30% {
        background: inherit;
        opacity: 0;
        z-index: 200;
        filter: invert(0);
        mix-blend-mode: difference;
    }
}

@keyframes thirdHorizontalLineFreezing {
    28% {
        background: inherit;
        opacity: 0;
        z-index: 200;
        filter: invert(0);
        mix-blend-mode: difference;
    }
    29% {
        background: black;
        opacity: 1;
        z-index: 280;
        filter: invert(1);
        mix-blend-mode: difference;
    }
    30% {
        background: inherit;
        opacity: 0;
        z-index: 200;
        filter: invert(0);
        mix-blend-mode: difference;
    }
}

@keyframes firstVerticalLineFreezing {
    27% {
        background: inherit;
        opacity: 0;
        z-index: 200;
        filter: invert(0);
        mix-blend-mode: difference;
    }
    28% {
        background: black;
        opacity: 1;
        z-index: 275;
        filter: invert(1);
        mix-blend-mode: difference;
    }
    29% {
        background: inherit;
        opacity: 0;
        z-index: 200;
        filter: invert(0);
        mix-blend-mode: difference;
    }
}

@keyframes secondVerticalLineFreezing {
    27% {
        background: inherit;
        opacity: 0;
        z-index: 200;
        filter: invert(0);
        mix-blend-mode: difference;
    }
    28% {
        background: black;
        opacity: 1;
        z-index: 275;
        filter: invert(1);
        mix-blend-mode: difference;
    }
    29% {
        background: inherit;
        opacity: 0;
        z-index: 200;
        filter: invert(0);
        mix-blend-mode: difference;
    }
    91% {
        background: inherit;
        opacity: 0;
        z-index: 200;
        filter: invert(0);
        mix-blend-mode: difference;
    }
    92% {
        background: black;
        opacity: 1;
        z-index: 275;
        filter: invert(1);
        mix-blend-mode: difference;
    }
    93% {
        background: inherit;
        opacity: 0;
        z-index: 200;
        filter: invert(0);
        mix-blend-mode: difference;
    }
}

@keyframes firstImageFreezing {
    90% {
        background: transparent;
        opacity: 0;
        z-index: 200;
        filter: invert(0);
        mix-blend-mode: difference;
    }
    91% {
        background: transparent;
        opacity: 1;
        z-index: 270;
        filter: invert(1);
        mix-blend-mode: difference;
    }
    92% {
        background: transparent;
        opacity: 0;
        z-index: 200;
        filter: invert(0);
        mix-blend-mode: difference;
    }
    93% {
        background: transparent;
        opacity: 1;
        z-index: 270;
        filter: invert(1);
        mix-blend-mode: difference;
    }
    94% {
        background: transparent;
        opacity: 0;
        z-index: 200;
        filter: invert(0);
        mix-blend-mode: difference;
    }
    95% {
        background: transparent;
        opacity: 1;
        z-index: 270;
        filter: invert(1);
        mix-blend-mode: difference;
    }
    96% {
        background: transparent;
        opacity: 0;
        z-index: 200;
        filter: invert(0);
        mix-blend-mode: difference;
    }
    97% {
        background: transparent;
        opacity: 1;
        z-index: 270;
        filter: invert(1);
        mix-blend-mode: difference;
    }
    99% {
        background: transparent;
        opacity: 1;
        z-index: 270;
        filter: invert(1);
        mix-blend-mode: difference;
    }
    100% {
        background: transparent;
        opacity: 0;
        z-index: 200;
        filter: invert(0);
        mix-blend-mode: difference;
    }
}
