.Freezing {
    background: inherit;
    z-index: 200;
}

@media {
    .Freezing .FullPageFreezing {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100vw;
        position: fixed;
        top: 0;
        left: 0;
        background: inherit;
        animation: fullPageFreezing 10s infinite;
    }
}

@media {
    .Freezing .LeftHalfPageFreezing {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 50vw;
        position: fixed;
        top: 0;
        left: 0;
        background: inherit;
        animation: leftHalfPageFreezing 10s infinite;
    }
}

@media {
    .Freezing .RightHalfPageFreezing {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 50vw;
        position: fixed;
        top: 0;
        right: 0;
        background: inherit;
        animation: rightHalfPageFreezing 10s infinite;
    }
}

@media {
    .Freezing .FirstBlockFreezing {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 20vh;
        width: 15vw;
        position: fixed;
        top: 20vh;
        left: 0;
        background: inherit;
        animation: firstBlockFreezing 10s infinite;
    }
}

@media {
    .Freezing .SecondBlockFreezing {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 20vh;
        width: 20vw;
        position: fixed;
        top: 10vh;
        right: 15vw;
        background: inherit;
        animation: secondBlockFreezing 10s infinite;
    }
}

@media {
    .Freezing .ThirdBlockFreezing {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 30vh;
        width: 10vw;
        position: fixed;
        left: 10vw;
        bottom: 20vh;
        background: inherit;
        animation: thirdBlockFreezing 10s infinite;
    }
}

@media {
    .Freezing .FourthBlockFreezing {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 10vh;
        width: 10vw;
        position: fixed;
        left: 20vw;
        bottom: 20vh;
        background: inherit;
        animation: fourthBlockFreezing 10s infinite;
    }
}

@media {
    .Freezing .FirstHorizontalLineFreezing {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 1vh;
        width: 100vw;
        position: fixed;
        top: 15vh;
        background: inherit;
        animation: firstHorizontalLineFreezing 10s infinite;
    }
}

@media {
    .Freezing .SecondHorizontalLineFreezing {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 1vh;
        width: 100vw;
        position: fixed;
        top: 75vh;
        background: inherit;
        animation: secondHorizontalLineFreezing 10s infinite;
    }
}

@media {
    .Freezing .ThirdHorizontalLineFreezing {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 1vh;
        width: 100vw;
        position: fixed;
        top: 85vh;
        background: inherit;
        animation: thirdHorizontalLineFreezing 10s infinite;
    }
}

@media {
    .Freezing .FirstVerticalLineFreezing {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 1vw;
        position: fixed;
        left: 75vw;
        background: inherit;
        animation: firstVerticalLineFreezing 10s infinite;
    }
}

@media {
    .Freezing .SecondVerticalLineFreezing {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 1vw;
        position: fixed;
        left: 80vw;
        background: inherit;
        animation: secondVerticalLineFreezing 10s infinite;
    }
}

@keyframes fullPageFreezing {
    88% {
        z-index: 200;
        filter: invert(0);
    }
    89% {
        z-index: 295;
        filter: invert(1);
    }
    90% {
        z-index: 295;
        filter: invert(1);
    }
    91% {
        z-index: 200;
        filter: invert(0);
    }
}

@keyframes leftHalfPageFreezing {
    80% {
        z-index: 200;
        filter: invert(0);
    }
    81% {
        z-index: 290;
        filter: invert(1);
    }
    82% {
        z-index: 200;
        filter: invert(0);
    }
}

@keyframes rightHalfPageFreezing {
    70% {
        z-index: 200;
        filter: invert(0);
    }
    71% {
        z-index: 290;
        filter: invert(1);
    }
    72% {
        z-index: 200;
        filter: invert(0);
    }
    83% {
        z-index: 200;
        filter: invert(0);
    }
    84% {
        z-index: 290;
        filter: invert(1);
    }
    85% {
        z-index: 200;
        filter: invert(0);
    }
}

@keyframes firstBlockFreezing {
    40% {
        z-index: 200;
        filter: invert(0);
    }
    41% {
        z-index: 285;
        filter: invert(1);
    }
    42% {
        z-index: 200;
        filter: invert(0);
    }
    83% {
        z-index: 200;
        filter: invert(0);
    }
    84% {
        z-index: 285;
        filter: invert(1);
    }
    85% {
        z-index: 285;
        filter: invert(1);
    }
    86% {
        z-index: 200;
        filter: invert(0);
    }
}

@keyframes secondBlockFreezing {
    30% {
        z-index: 200;
        filter: invert(0);
    }
    31% {
        z-index: 285;
        filter: invert(1);
    }
    32% {
        z-index: 200;
        filter: invert(0);
    }
    50% {
        z-index: 200;
        filter: invert(0);
    }
    51% {
        z-index: 285;
        filter: invert(1);
    }
    52% {
        z-index: 200;
        filter: invert(0);
    }
    53% {
        z-index: 285;
        filter: invert(1);
    }
    54% {
        z-index: 200;
        filter: invert(0);
    }
    55% {
        z-index: 285;
        filter: invert(1);
    }
    56% {
        z-index: 200;
        filter: invert(0);
    }
}

@keyframes thirdBlockFreezing {
    38% {
        z-index: 200;
        filter: invert(0);
    }
    39% {
        z-index: 285;
        filter: invert(1);
    }
    40% {
        z-index: 200;
        filter: invert(0);
    }
    46% {
        z-index: 200;
        filter: invert(0);
    }
    47% {
        z-index: 285;
        filter: invert(1);
    }
    48% {
        z-index: 285;
        filter: invert(1);
    }
    49% {
        z-index: 200;
        filter: invert(0);
    }
}

@keyframes fourthBlockFreezing {
    46% {
        z-index: 200;
        filter: invert(0);
    }
    47% {
        z-index: 285;
        filter: invert(1);
    }
    48% {
        z-index: 285;
        filter: invert(1);
    }
    49% {
        z-index: 200;
        filter: invert(0);
    }
    91% {
        z-index: 200;
        filter: invert(0);
    }
    92% {
        z-index: 285;
        filter: invert(1);
    }
    93% {
        z-index: 200;
        filter: invert(0);
    }
}

@keyframes firstHorizontalLineFreezing {
    20% {
        z-index: 200;
        filter: invert(0);
    }
    21% {
        z-index: 280;
        filter: invert(1);
    }
    22% {
        z-index: 200;
        filter: invert(0);
    }
    26% {
        z-index: 200;
        filter: invert(0);
    }
    27% {
        z-index: 280;
        filter: invert(1);
    }
    28% {
        z-index: 200;
        filter: invert(0);
    }
    29% {
        z-index: 280;
        filter: invert(1);
    }
    30% {
        z-index: 200;
        filter: invert(0);
    }
    90% {
        z-index: 200;
        filter: invert(0);
    }
    91% {
        z-index: 280;
        filter: invert(1);
    }
    92% {
        z-index: 200;
        filter: invert(0);
    }
}

@keyframes secondHorizontalLineFreezing {
    28% {
        z-index: 200;
        filter: invert(0);
    }
    29% {
        z-index: 280;
        filter: invert(1);
    }
    30% {
        z-index: 200;
        filter: invert(0);
    }
}

@keyframes thirdHorizontalLineFreezing {
    28% {
        z-index: 200;
        filter: invert(0);
    }
    29% {
        z-index: 280;
        filter: invert(1);
    }
    30% {
        z-index: 200;
        filter: invert(0);
    }
}

@keyframes firstVerticalLineFreezing {
    27% {
        z-index: 200;
        filter: invert(0);
    }
    28% {
        z-index: 275;
        filter: invert(1);
    }
    29% {
        z-index: 200;
        filter: invert(0);
    }
}

@keyframes secondVerticalLineFreezing {
    27% {
        z-index: 200;
        filter: invert(0);
    }
    28% {
        z-index: 275;
        filter: invert(1);
    }
    29% {
        z-index: 200;
        filter: invert(0);
    }
    91% {
        z-index: 200;
        filter: invert(0);
    }
    92% {
        z-index: 275;
        filter: invert(1);
    }
    93% {
        z-index: 200;
        filter: invert(0);
    }
}
