.Header {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: flex-end;
    min-height: 6vh;
    min-width: 100vw;
    position: fixed;
    top: 0;
    mix-blend-mode: difference;
    z-index: 3;
}

.Header .Languages {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 6vh;
    margin-left: 1vw;
    margin-right: 1vw;
}

.Header .Languages .Language {
    margin-right: 0.5vw;
    margin-left: 0.5vw;
}
