.Header {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: flex-end;
    width: 100vw;
    max-height: 10vh;
    position: fixed;
    top: 0;
    mix-blend-mode: difference;
    z-index: 500;
}

.Header .Languages {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-height: 8vh;
    margin: 1vmin 1vmin;
}

.Header .Languages .Language {
    margin-right: 0.5vw;
    margin-left: 0.5vw;
}
