.Greeting {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
}

.Greeting .Letters {
    text-align: center;
    font-size: calc(10px + 5vmin);
    color: black;
}

.Greeting .Letters .Latter {
    display: inline-block;
}
