.Letters {
    text-align: center;
    font-size: var(--large-font);
    color: var(--white);
    filter: grayscale(1) contrast(2) drop-shadow(.1em .1em var(--white));
}

.Letters .Letter {
    display: inline-block;
}
