body {
    margin: 0 !important;
    font-family: cursive !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
}

code {
    font-family: monospace !important;
}
