:root {
    --black: rgba(0, 0, 0, 1) !important;
    --white: rgba(255, 255, 255, 1) !important;
    --050-white: rgba(255, 255, 255, 0.5) !important;
    --large-font: calc(10vmin) !important;
    --medium-font: calc(3vmin) !important;
}

html {
    height: 100% !important;
    width: 100% !important;
    background: var(--black) !important;
}

body {
    height: 100% !important;
    width: 100% !important;
    margin: 0 !important;
    font-family: 'Anonymous Pro', monospace !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    background: inherit !important;
}

code {
    margin: 0 !important;
    font-family: 'Anonymous Pro', monospace !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
}

#root {
    height: 100% !important;
    width: 100% !important;
    background: inherit !important;
}
