body {
    margin: 0 !important;
    font-family: 'Anonymous Pro', monospace !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
}

code {
    margin: 0 !important;
    font-family: 'Anonymous Pro', monospace !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
}
